.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--font-grey);
}

.recommended-friends span {
  margin: 90px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--font-grey);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hasgtag {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  font-size: 14px;
  opacity: 0.5;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--font-grey);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeatAnimation {
  0% {
    transform: none;
    color: white;
  }
  50% {
    transform: scale(1.5);
    color: tomato;
  }
  100% {
    transform: none;
    color: white;
  }
}
.open-post__heart-count:hover i {
  /* will-change : 브라우저에게 어떤 것이 변할거라고 말해줌 -> 불안정한 애니메이션을 안정적이게 만들어줌. (그래픽 카드를 이용해 애니메이션을 가속화) */
  will-change: transform;
  animation: heartBeatAnimation 0.8s ease-in-out infinite;
}
